.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1.1rem;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-card-display {
  display: inline-block !important;
}

.make-gold {
  background-color: yellow;
}

.hide_element{
  display: none;
}

tr.mat-header:hover{
  color: yellow;
}
