.container {
  display: flex;
  padding: 10px;
  width: 100%;
}

.card-container {
  display: flex;
//  justify-content: space-between;
//  margin: 10px;
}
.mat-container{
  width: 100%;
  display: flex;
}
// .mat-card-posicion {
//   flex: 1;
//   // margin: 10px;
//   // padding: 10px;
//   box-sizing: border-box;
//   background-color: white;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// }

/* Removendo a margem direita da última div para evitar espaço extra */
// .box:last-child {
//   margin-right: 0;
// }

// .mat-card-display {
//   display: inline-block !important;
// }

.make-gold {
  background-color: yellow;
}

.hide_element{
  display: none;
}

.mat-card {
  margin: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
