.sidenav {
  background-color: whitesmoke;
  width: 200px; 
}

.navlist {
  bottom: 65px; 
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #fff;
}

.container {
  position: absolute;
  top: 75px;
  bottom: 65px;   
  background: 0;
  
}