.sidenav {
  background-color: whitesmoke;
  width: 200px;
  padding: -15px;
}

.navlist {
  bottom: 65px;
}

.sidenav i {
  padding-right: 10px;
  justify-content: flex-end; // flex-start é o padrão // center centraliza...
}

.content {
  padding: 16px;
  background-color: #fff;
  width: 85%;
}

.container {
  position: absolute;
  top: 75px;
  bottom: 65px;
  background: 0;

}
