<mat-card class="home mat-elevation-z3">
  <mat-card-header>
    <mat-card-title class="title">Cadastro de Cliente</mat-card-title>
    <!-- <mat-card-subtitle class="subtitle"
      >Cdastra novos clientes!</mat-card-subtitle
    > -->
  </mat-card-header>

    <form
      novalidate
      [formGroup]="pessoaForm"
      #ngForm="ngForm"
    >
    <mat-card-content>
      <div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input id="nomePessoa" formControlName="nomePessoa" matInput placeholder="Nome">
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-calendar">
            <input id="dataNascimento"  formControlName="dataNascimento" placeholder="data nascimento" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-hora">
            <input id="horaNascimento" formControlName="horaNascimento" matInput placeholder="hora" type="time" #time>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-form-field class="mat-form-field-email">
          <input
            id="email"
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. email@email.com"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-form-field-email">
          <textarea matInput formControlName="observacao" id="observacao"  placeholder="observação">
          </textarea>
        </mat-form-field>
      </div>
      <div formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input
              id="logradouro"
              matInput
              placeholder="logradouro"
              formControlName="logradouro"
            />
          </mat-form-field>
        </div>
        <div style="width: 100px;">
          <mat-form-field class="mat-form-field-endereco">
            <input matInput formControlName="numero" id="numero"  placeholder="número"/>
          </mat-form-field>
        </div>
        <div  class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <input
              id="bairro"
              matInput
              placeholder="bairro"
              formControlName="bairro"
            />
          </mat-form-field>
        </div>
      </div>
      <div  formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input matInput matInput formControlName="complemento" id="complemento" placeholder="complemento" />
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-cidade">
            <input
              id="cidade"
              matInput
              placeholder="cidade"
              formControlName="cidade"
            />
          </mat-form-field>
        </div>
    </div>
      <div  formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <input
              id="cep"
              matInput
              #postalCode
              maxlength="8"
              placeholder="cep"
              value=""
              formControlName="cep"
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint >
          </mat-form-field>
      </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <mat-select [ngModel]="selectedValue" name="estado"  placeholder="estados" formControlName="estado">
              <mat-option *ngFor="let estado of estados" [value]="estado.value">
                {{ estado.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <mat-label>País</mat-label>
            <input
              id="pais"
              matInput
              placeholder="país"
              formControlName="pais"
            />
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions>
        <button (click)="adicionarCliente()" mat-raised-button color="primary" type="submit">Salvar</button>
      </mat-card-actions>

      <!-- <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulario valido: {{ pessoaForm.valid }}</p>
          <p>Formulario Tocado: {{ pessoaForm.touched }}</p>
          <p>Formulario Sujo: {{ pessoaForm.dirty }}</p>
          <br />
          <p>Formulario: {{ formResult }}</p>
        </div>
      </div> -->
    </mat-card-content>
  </form>
</mat-card>
