<form [formGroup]="pessoaForm">
  <mat-card class="mat-container">
    <mat-card-content>
      <div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input
              matInput
              placeholder="Nome"
              formControlName="nomePessoa"
              appearance="outline"
            />
            <mat-error *ngIf="verificaErro('nomePessoa', 'required')">
              {{ "informe_nome" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-calendar">
            <input
              formControlName="dataNascimento"
              placeholder="data nascimento"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="verificaErro('dataNascimento', 'required')">
              {{ "informe_data_nascimento" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-hora">
            <input
              formControlName="horaNascimento"
              matInput
              placeholder="hora"
              type="time"
              #time
            />
            <mat-error *ngIf="verificaErro('horaNascimento', 'required')">
              {{ "informe_hora_nascimento" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-form-field class="mat-form-field-email">
          <input
            id="email"
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. email@email.com"
          />
          <mat-error *ngIf="verificaErro('email', 'required')">
            {{ "informe_email" | strings }}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="mat-form-field-email">
          <textarea
            matInput
            formControlName="observacao"
            id="observacao"
            placeholder="observação"
          >
          </textarea>
        </mat-form-field>
      </div>
      <div formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input
              id="logradouro"
              matInput
              placeholder="logradouro"
              formControlName="logradouro"
            />
          </mat-form-field>
        </div>
        <div style="width: 100px">
          <mat-form-field class="mat-form-field-endereco">
            <input
              matInput
              formControlName="numero"
              id="numero"
              placeholder="número"
            />
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <input
              id="bairro"
              matInput
              placeholder="bairro"
              formControlName="bairro"
            />
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field">
            <input
              matInput
              formControlName="complemento"
              placeholder="complemento"
            />
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-cidade">
            <input matInput placeholder="cidade" formControlName="cidade" />
            <mat-error *ngIf="verificaErro('endereco.cidade', 'required')">
              {{ "informe_cidade" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div formGroupName="endereco">
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <!-- <mat-label>Cep</mat-label> -->
            <input
              id="cep"
              matInput
              #postalCode
              maxlength="8"
              placeholder="cep"
              value=""
              formControlName="cep"
            />
            <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <mat-select
              [ngModel]="selectedValue"
              name="estado"
              placeholder="estados"
              formControlName="estado"
            >
              <mat-option *ngFor="let estado of estados" [value]="estado.value">
                {{ estado.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="verificaErro('endereco.estado', 'required')">
              {{ "informe_estado" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="divContainer">
          <mat-form-field class="mat-form-field-endereco">
            <input matInput placeholder="país" formControlName="pais" />
            <mat-error *ngIf="verificaErro('endereco.pais', 'required')">
              {{ "informe_pais" | strings }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions>
        <button
          (click)="adicionarCliente()"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Salvar
        </button>
      </mat-card-actions>

      <!-- <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <p>Formulario valido: {{ pessoaForm.valid }}</p>
          <p>Formulario Tocado: {{ pessoaForm.touched }}</p>
          <p>Formulario Sujo: {{ pessoaForm.dirty }}</p>
          <br />
          <p>Formulario: {{ formResult }}</p>
        </div>
      </div> -->
    </mat-card-content>
  </mat-card>
</form>
